.root {
  padding: 25px;
}

.message {
  margin-left: 10%;
  margin-right: 10%;
  padding: 5px;
}

.socketId {
  padding: 5px;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  font-weight: bold;
  font-family: 'Prompt', sans-serif;
}

.formBlock {
  margin: 5px;
}

.formInput {
  width: 100%;
}

.formContainer {
  padding: 5px;
  margin-left: 10%;
  margin-right: 10%;
}

@media only screen and (max-width: 426px) {
  .formContainer {
    margin-left: 5%;
    margin-right: 5%;
  }

  .socketId {
    margin-left: 10%;
    margin-right: 10%;
  }
}